<nav class="navbar navbar-expand-lg nav">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-family: Srisakdi; color: aliceblue; font-weight: bolder; font-size: 25px" href="#">BudgetBazaar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="font-family: Charter,serif; color: aliceblue" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" style="font-family: Charter,serif; color: aliceblue" href="#">Register Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" style="font-family: Charter,serif; color: aliceblue" href="#">About</a>
        </li>
      </ul>
      <form class="d-flex" role="search" style="color: aliceblue">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background-color: aliceblue">
        <button class="btn btn-outline-success" type="submit" style="color: aliceblue; --bs-btn-border-color: rgb(167, 207, 234)">Search</button>
      </form>
    </div>
  </div>
</nav>
