<body>
<div class="container" style="background-image: url(https://img.freepik.com/free-photo/grunge-wall-texture_1194-5342.jpg?w=1800&t=st=1697646916~exp=1697647516~hmac=b87a85b42593843e9581f8a45aac07ce7e7866a7c1478ffc4e3a1e0ef2d4f437);
;">
  <mat-card class="example-card-header mb-2">
    <p class="header-card-text">Add Product</p>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-content>
      <div class="row">
        <form [formGroup]="productForm">
          <div class="row">
            <label class="col-2 label">Product Name</label>
            <mat-form-field class="col-10" appearance="outline">
              <mat-label>Product Name</mat-label>
              <input matInput placeholder="Placeholder" formControlName='pname'>
            </mat-form-field>

            <label class="col-md-2 label">Category</label>
            <mat-form-field class="col-md-3" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select formControlName="pcategory" ngDefaultControl>
                <div>
                  <mat-option value="Mobiles">Mobiles</mat-option>
                  <mat-option value="Electronics">Electronics</mat-option>
                  <mat-option value="Fashion">Fashion</mat-option>
                  <mat-option value="Appliances">Appliances</mat-option>
                  <mat-option value="Furnitures">Furnitures</mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <label class="col-md-3 label">Location</label>
            <mat-form-field class="col-md-4" appearance="outline">
              <mat-label><i class="fa-solid fa-location-dot" style="margin-right: 0.5rem;"> </i>Place
              </mat-label>
              <mat-select formControlName="pcity" ngDefaultControl>
                <mat-option value="Chicago">Chicago</mat-option>
                <mat-option value="Miami">Miami</mat-option>
                <mat-option value="Arizona">Arizona</mat-option>
                <mat-option value="New York">New York</mat-option>
                <mat-option value="New Jersey">New Jersey</mat-option>
                <mat-option value="Wisconsin">Wisconsin</mat-option>
                <mat-option value="Atlanta">Atlanta</mat-option>
                <mat-option value="Ohio">Ohio</mat-option>
                <mat-option value="Indiana">Indiana</mat-option>
                <mat-option value="California">California</mat-option>
                <mat-option value="Washington DC">Washington DC</mat-option>
                <mat-option value="Texas">Texas</mat-option>
                <mat-option value="Iowa">Iowa</mat-option>
                <mat-option value="Michigan">Michigan</mat-option>
                <mat-option value="Virginia">Virginia</mat-option>
              </mat-select>
            </mat-form-field>

            <label class="col-md-2 label">Description</label>
            <mat-form-field class="col-md-10" appearance="outline">
              <textarea formControlName="description" matInput></textarea>
            </mat-form-field>


            <label class="col-2 label">Price</label>
            <mat-form-field class="col-3" appearance="outline">
              <mat-label>Price</mat-label>
              <input formControlName="pcoin" matInput placeholder="Placeholder">
            </mat-form-field>
            <label class="col-md-3 label">Add Image</label>
            <div class="col-md-4 mt-3">
              <!-- <input type="file" (change)="handleFileInput($event.target['files'])" formControlName="image"/> -->
              <input type="file" (change)="onChange($event)" formControlName="image"/>
              <img [src]="myImage" alt="image" class="show-img">
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="button">
    <button class="btn" (click)="onClickSubmitForm()" mat-raised-button style="background: #084048; color: white; font-family: Copperplate; text-transform: uppercase">
      Add Product
    </button>
  </div>
</div>

</body>
